@import "../variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 14px 30px 21px 15px;

  &__logo {
    display: flex;
    gap: 8px;

    &-img {
      padding-top: 12px;
    }

    &-version {
      width: 37px;
      height: 17px;
      @include flex-center;
      
      border-radius: 4px;
      background-color: $font-accent;

      color: #ffffff;
      // font-size: 1.2rem;
      font-family: $font-primary;
    }
  }
}