@font-face {
  font-family: "Futura PT";
  src: local("Futura PT Book"), local("FuturaPT-Book"), url("../fonts/futura-pt/FuturaPT-Book.woff2") format("woff2"), url("../fonts/futura-pt/FuturaPT-Book.woff") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "Futura PT";
  src: local("Futura PT Medium"), local("FuturaPT-Medium"), url("../fonts/futura-pt/FuturaPT-Medium.woff2") format("woff2"), url("../fonts/futura-pt/FuturaPT-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Futura PT";
  src: local("Futura PT Demi"), local("FuturaPT-Demi"), url("../fonts/futura-pt/FuturaPT-Demi.woff2") format("woff2"), url("../fonts/futura-pt/FuturaPT-Demi.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "Futura PT";
  src: local("Futura PT Heavy"), local("FuturaPT-Heavy"), url("../fonts/futura-pt/FuturaPT-Heavy.woff2") format("woff2"), url("../fonts/futura-pt/FuturaPT-Heavy.woff") format("woff");
  font-weight: 900;
}
.popup {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.popup__hide {
  display: none;
}
.popup__show {
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup__content {
  width: 440px;
  padding: 25px 40px;
  background-color: #ffffff;
}
.popup__heading {
  margin-bottom: 17px;
  color: #000000;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 120%;
}
.popup__form {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.popup__wrapper {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.popup input, .popup__select {
  height: 50px;
  padding: 0 25px;
  border-radius: 5px;
  color: #172139;
  font-size: 1.6rem;
  font-family: "Galdeano", Arial, Helvetica, sans-serif;
  background-color: #F5F5F5;
  border: 1px solid #E1E1E1;
}
.popup input::-moz-placeholder, .popup__select::-moz-placeholder {
  color: #AEAEAE;
  font-family: "Galdeano", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}
.popup input::placeholder, .popup__select::placeholder {
  color: #AEAEAE;
  font-family: "Galdeano", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}
.popup input:focus, .popup__select:focus {
  outline: none;
  border: 1px solid #FF6600;
}
.popup__label {
  font-size: 1.6rem;
  line-height: 1.8rem;
}
.popup__select {
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 25px center;
}
.popup__btn-wrapper {
  display: flex;
  justify-content: space-between;
}
.popup__toggle {
  font-family: "Galdeano", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  position: relative;
  width: 52px;
  height: 28px;
}
.toggle__checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}
.toggle__checkbox:checked + .toggle__slider::before {
  transform: translateX(24px);
}
.toggle__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #EFEFEF;
  transition: 0.4s;
  border-radius: 53px;
}
.toggle__slider::before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 2px;
  bottom: 2px;
  background-color: #FF6600;
  transition: 0.4s;
  border-radius: 50%;
}

.create__create-btn {
  width: 193px;
  gap: 10px;
}
.create__cancel-btn {
  width: 151px;
}

.edit__delete-btn {
  width: 195px;
  gap: 10px;
}
.edit__cancel-btn {
  width: 151px;
}
.edit__save-btn {
  width: 100%;
  gap: 10px;
}/*# sourceMappingURL=popup.css.map */