@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

$font-form: "Galdeano", Arial, Helvetica, sans-serif;
$color-accent: #FF6600;

.popup {
  position: absolute;
  height: 100%;
  width: 100%;

  background: rgba(0, 0, 0, 0.6);

  &__hide {
    display: none;
  }

  &__show {
    @include flex-center;
  }

  &__content {
    width: 440px;
    padding: 25px 40px;
    background-color: #ffffff;
  }

  &__heading {
    margin-bottom: 17px;
    color: #000000;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 120%;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 17px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  input {
    height: 50px;
    padding: 0 25px;

    border-radius: 5px;
    color: #172139;
    font-size: 1.6rem;
    font-family: $font-form;
    background-color: #F5F5F5;
    border: 1px solid #E1E1E1;

    &::placeholder {
      color: #AEAEAE;
      font-family: $font-form;
      font-size: 1.6rem;
    }
  }

  &__label {
    font-size: 1.6rem;
    line-height: 1.8rem;
  }

  &__btn-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__toggle {
    font-family: $font-form;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.toggle {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 28px;

  &__checkbox {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .toggle__slider::before {
      transform: translateX(24px);
    }
  }

  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #EFEFEF;
    transition: 0.4s;
    border-radius: 53px;

    &::before {
      position: absolute;
      content: "";
      height: 24px;
      width: 24px;
      left: 2px;
      bottom: 2px;
      background-color: $color-accent;
      transition: 0.4s;
      border-radius: 50%;
    }
  }
}

.create {
  &__create-btn {
    width: 193px;
    gap: 10px;
  }

  &__cancel-btn {
    width: 151px;
  }
}

.edit {
  &__delete-btn {
    width: 195px;
    gap: 10px;
  }

  &__cancel-btn {
    width: 151px;
  }

  &__save-btn {
    width: 100%;
    gap: 10px;
  } 
}